* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin-top: 4%;
}

.container {
  /* background: #efefef; */
  max-width: 500px;
  margin: auto;
}

.input {
  width: 100%;
  padding: 10px;
  border-width: 0;
  border: 1px solid lightblue;
  text-align: center;
  font-size: 2rem;
}

.op-wrapper {
  border: 1px solid lightblue;
  border-top: none;
}

.btn {
  background: none;
  border: none;
  font-size: 2rem;
  padding: 30px;
  color: gray;
  box-shadow: 0 0 0 1px lightblue;
}

.num-pad {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}
